.img2 {
    background-color: rgba(255, 173, 59, 0.1);
}

.img3 {
    background-color: rgba(45, 129, 247, 0.1);
}

.img {
    background-color: rgba(254, 87, 2, 0.1);
}

.img4 {
    background-color: rgba(235, 87, 87, 0.1);
}

.img5 {
    background-color: rgba(8, 189, 128, 0.1);
}